<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/style.css">
        <link rel="shortcut icon" href="../../css/img/logos/livrera3.png">
     
       <title>Tela inicial</title>
    </head>
    <style>
        *{
            color: black;
        }
        body{
            background-color: #f2f2f2;
        }
    </style>
<body>
    <div class="menutemplate">
        <div>
            <img src="../../css/img/logos/livrera3.png" width="163px" height="76px">
        </div>
        <div>
            <form action="">
                <input type="text" placeholder="Faça sua busca">
                <a href="../pesquisa/pesquisa.php"><img src="../../css/img/icones/search 1.png" alt=""></a>
            </form>
        </div>
        <div>
            <a href="">
                <img src="../../css/img/redes/facebook.png" width="26" height="26">
            </a>
            <a href="">
                <img src="../../css/img/redes/instagram.png" width="26" height="26">
            </a>
            <a href="">
                <img src="../../css/img/redes/youtube.png" width="26" height="26">
            </a>
            <a href="">
                <img src="../../css/img/redes/twitter.png" width="26" height="26">
            </a>
        </div>
    </div>
    <div class="submenutemplate">
        <div class="menutem">
            <a href="../telainicial/telainicial.php">
                <h2>Home</h2>
            </a>
            <a href="../convidadosespeciais/all.php">
                <h2>Convidados</h2>
            </a>
            <a href="../obras/all.php">
                <h2>Obras</h2>
            </a>
            <a href="../about/aboutus.php">
                <h2>Sobre nós</h2>
            </a>
        </div>
        <div>
            <select name="" id="">
                <option value="">Brasil pt-br</option>
                <option value="">Brasil pt-br</option>
                <option value="">Brasil pt-br</option>
            </select>
        </div>
    </div>


    <!-- CONTEUDO DE OUTRO ARQUIVO REMOVER ASSIM QUUE PRONTO !!! -->

</body>
</html>
