<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="shortcut icon" href="../../css/img/logos/livrera3.png">
 
   <title>Livrera</title>
</head>
<style>
    body{
            background-color: #161616;
        }
</style>
<body>
    <div class="MeuMenu">
        <div>
            <img src="../../css/img/logos/livrera3.png" width="163px" height="76px">
        </div>
        <div class="menuOptions">
           <div class="d1">
               <b>
                   <a href="#p1">Sobre</a>
               </b>
           </div>
           <div class="d2">
               <b>
                   <a href="#p2">Videos</a>
               </b>
           </div>
           <div class="d3">
                <b>

                    <a href="#p3">Apoiadores</a>
                </b>   
           </div>
           
        </div>
        <div class="MenuPlataforma">
            <div>
                <a href="../telainicial/telainicial.php" class="btn-efect">Visitar</a>
                <!-- <a href="" class="btn">Visitar</a> -->
            </div>
        </div>
    </div>
    <br>
    <main class="apresenta">
        <section class="part" id="p1">
            <div class="fundopreto">
                <div class="ptconteudo1">
                    <div class="conteudos">
                        <div>
                            <img src="../../css/img/logos/musica.png" width="33px" height="33px">
                        </div>
                        <div>
                            <p class="legenda">Evento Cultural</p>
                        </div>
                        <div>
                            <h1 class="tmodern">
                                Livrera
                            </h1>
                            <center>
                                <span class="linha"></span>
                            </center>
                        </div>
                        <div>
                            <p class="texto">Conheça a plataforma que tem como objetivo mostrar as obras dos artistas e os convidados especiais do evento <b>Livrera</b></p>
                        </div>
                        <div>
                            <center>
                                <a href="" class="btncromado">Visitar!</a>
                            </center>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
        <section class="part2" id="p2">
           <div class="fundopreto">
               <div class="ptconteudo2">
                   <div>
                       <div>
                           <h1 class="primaria">Videos</h1><br><br>
                       </div>
                       <div>
                           <div class="conteudos">
                                <div class="sobre">
                                    <h1>Veja como é.</h1>
                                    <p class="texto">
                                        Veja um dos artistas que aparecerá no evento! <br>
                                        Se quiser ver mais, basta acessar nosso canal no youtube ou entrar na nossa plataforma.
                                    </p>
                                    <div class="opcoes">
                                        <a href="" class="btncromado">Visitar!</a>
                                         <a href="">
                                          <img src="../../css/img/logos/youtube.png" width="60px" height="60px">
                                         </a>  
                                    </div>
                                </div>

                                <div class="video">
                                    <!-- videos com proporções 610x384 -->
                                    <iframe width="610" height="384" src="https://www.youtube.com/embed/wKRL7vkWMoc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>

                           </div>
                       </div>
                   </div>
               </div>
           </div>
        </section>
        <section class="part3" id="p3">
            <div class="ptconteudo3">
                <div>
                    <div>
                        <h1 style="color:black" class="apoiadoresh">Apoiadores</h1>
                    </div>
                    <div class="conteudos">
                        <div class="div1">
                            <h1 class="primaria">Brasil</h1>
                            <center>
                                <span class="linha"></span>
                            </center>
                            <div class="patrocinadores">
                                <div>
                                    <a href="">
                                        <img src="../../css/img/logos/acil.png" width="98.74px" height="80">
                                    </a>
                                </div>
                                <div>
                                    <a href="">
                                        <img src="../../css/img/logos/pmsl.jpg" width="86.46" height="80">
                                    </a>
                                </div>
                                <div>
                                    <a href="">
                                        <img src="../../css/img/logos/if.jpg" width="86.46" height="80">
                                    </a>
                                </div>
                                <div>
                                    <a href="">
                                        <img src="../../css/img/logos/unip.png" width="151.46" height="80">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="div2">
                            <h1 class="primaria">Uruguay</h1>
                            <center>
                                <span class="linha"></span>
                          
                            <div class="patrocinadores">
                                <div>
                                    <a href="">
                                        <img src="../../css/img/logos/abre.png" width="165" height="108">
                                    </a>
                                </div>
                                <div>
                                    <a href="">
                                        <img src="../../css/img/logos/idr.png" width="123" height="53">
                                    </a>
                                </div>
                                <div>
                                    <a href="">
                                        <img src="../../css/img/logos/uru.png" width="106" height="80">
                                    </a>
                                </div>
                                <div>
                                    <a href="">
                                        <img src="../../css/img/logos/snrpu.jpg" width="123" height="64.37">
                                    </a>
                                </div>
                                <div>
                                    <a href="">
                                        <img src="../../css/img/logos/cu.png" width="180" height="83">
                                    </a>
                                </div>
                                <div>
                                    <a href="">
                                        <img src="../../css/img/logos/cmec.jpg" width="80" height="80">
                                    </a>
                                </div>
                                <div>
                                    <a href="">
                                        <p>Centro Regional dos Profesores del Norte</p>
                                    </a>
                                </div>
                            </div>
                        </center>
                        </div>
                    </div>
                </div>
            </div>
         
        </section>
        <footer>
            <a href="">
                <img src="../../css/img/redes/facebook.png" width="26" height="26">
            </a>
            <a href="">
                <img src="../../css/img/redes/instagram.png" width="26" height="26">
            </a>
            <a href="">
                <img src="../../css/img/redes/youtube.png" width="26" height="26">
            </a>
            <a href="">
                <img src="../../css/img/redes/twitter.png" width="26" height="26">
            </a>
                
        </footer>
    </main>
    <script src="../../js/puro.js"></script>
</body>
</html>