@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Oleo+Script+Swash+Caps&display=swap");

$primaria:#14eab3ff;
$secundaria: grey;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Cousine', monospace ;
}
body{
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
@import "scss/functions";
@import "scss/objetos";
@import "scss/config";
@import "scss/menu";

a{
  color: white;
  text-decoration: none;
  &:hover{
    color: $primaria;
  }
}
h1, h2, h3, h4{
  color: white;
  font-family: 'Oleo Script', cursive;;
}

.conteudo{
  margin-top: 12vh;
  width: 100%;

}