.mostraObra{
    width: 100%;
    position: relative;
    min-height: 40vh;
    background-color: bisque;
}
.dadosObra{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 5vh;
}
.descricaoObra{
    margin-top: 7%;
    display: grid;
    width: 80%;
    grid-template-columns: 1fr;
    background: rgba(22, 22, 22, 0.94);
    // border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 16px;
    margin-left: 10%;
    margin-right: 15%;
    padding: 30px;
    // padding-right: 30%;
    margin-bottom: 10vh;

    overflow: hidden;
    h2{
        text-align: left;
    }
    p{
        margin-top: 3%;
        color: #f2f2f2;
        margin-right: 5%;
        word-wrap: break-word;
    }
}